.App {
  background-image: url('https://thvnext.bing.com/th/id/OIP.B39-1EvwOFXOffOfIKZT0AHaEK?w=352&h=180&c=7&r=0&o=7&cb=ucfimg2&pid=1.7&rm=3&ucfimg=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.App-header{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}